/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #2c3e50; /* Fond sombre */
    color: #ecf0f1; /* Texte clair pour le contraste */
    padding: 20px;
}

header {
    background-color: #2980b9; /* Bleu foncé pour le header */
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    position: relative; /* Nécessaire pour positionner l'image */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.logo {
    max-width: 100px; /* Ajustez la taille selon vos besoins */
    position: absolute;
    top: 10px; /* Espace par rapport au haut du header */
    right: 10px; /* Espace par rapport au bord droit du header */
}

main {
    margin-top: 20px;
    text-align: center;
    background-color: #34495e; /* Fond plus clair pour le contenu */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.report-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
}

a {
    color: #1abc9c; /* Couleur verte contrastante pour les liens */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.logo {
    max-width: 100px; /* Ajustez selon vos besoins */
    position: absolute;
    top: 10px;
    right: 10px;
}
